In [1]:
# https://ibm-learning.udemy.com/course/python-for-finance-investment-fundamentals-data-analytics/learn/lecture/6780352#overview

Download the data for Microsoft (‘MSFT’) from IEX for the period ‘2015-1-1’ until today.
Assess the daily and the annual risk of ‘MSFT’. Repeat the exercise for Apple for the same timeframe.

In [2]:
import numpy as np 
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

## The banks chosen are pand G , and german , beiserdeore

In [5]:
tickers = ['PG','BEI.DE']

security_dat = pd.DataFrame()

for t in tickers:
    security_dat[t] = wb.DataReader(t,data_source="yahoo",start="2007-1-1")['Adj Close']

In [6]:
security_dat.tail()

                    PG     BEI.DE
Date
2020-12-23  136.339996  93.180000
2020-12-24  137.720001        NaN
2020-12-28  138.679993  94.839996
2020-12-29  138.419998  95.400002
2020-12-30  137.770004  94.440002

## to see the stocks  of which company is more volatile , first we  will take the logarithmic return , becasue we will examine each company separately over a  period of time

In [8]:
sec_returns = np.log(security_dat/security_dat.shift(1))

In [9]:
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006544
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858
...              ...       ...
2020-12-23 -0.001539  0.001074
2020-12-24  0.010071       NaN
2020-12-28  0.006946       NaN
2020-12-29 -0.001877  0.005887
2020-12-30 -0.004707 -0.010114

[3524 rows x 2 columns]

# PG

In [10]:
sec_returns['PG'].mean()

0.0003329223142074781

## lets annualize this value , multipled by the number of trading days that is 250

In [12]:
sec_returns['PG'].mean() * 250  # this is slightly above 8% , which is anual rate of return

0.08323057855186952

## to measure the volatility of this company' s stock  or the standard deviation

In [13]:
sec_returns['PG'].std()

0.011879743859444927

## to annualize the the volatility

In [15]:
sec_returns['PG'].std()*250

2.969935964861232

# do the same for BEI

In [16]:
sec_returns['BEI.DE'].mean()

0.00023331649829413587

In [17]:
sec_returns['BEI.DE'].std()

0.013871802033219601

## annualize the return

In [18]:
sec_returns['BEI.DE'].std()*250

3.4679505083049005