# Calculating Covariance and Correlation

# Consider a portfolio composed of Walmart and Facebook. 
# Do you expect the returns of these companies to show high or low covariance?
# Or, could you guess what the correlation would be? Will it be closer to 0 or closer to 1?

# Begin by extracting data for Walmart and Facebook from the 1st of January 2014 until today.

In [25]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb

In [26]:
sec_data = pd.read_csv('Walmart_FB_2014_2017.csv',index_col='Date')

In [27]:
sec_data.head()

                  WMT         FB
Date
2013-12-31  71.126411  54.650002
2014-01-02  71.325287  54.709999
2014-01-03  71.090279  54.560001
2014-01-06  70.692558  57.200001
2014-01-07  70.909485  57.919998

In [28]:
returns = np.log(sec_data/sec_data.shift(1))

In [29]:
returns

                 WMT        FB
Date
2013-12-31       NaN       NaN
2014-01-02  0.002792  0.001097
2014-01-03 -0.003300 -0.002745
2014-01-06 -0.005610  0.047253
2014-01-07  0.003064  0.012509
...              ...       ...
2017-04-03 -0.003474  0.001618
2017-04-04  0.002503 -0.003873
2017-04-05 -0.005012  0.000846
2017-04-06 -0.003075 -0.004805
2017-04-07  0.020371 -0.002766

[824 rows x 2 columns]

In [30]:
returns[['WMT','FB']].mean()*250

WMT    0.003551
FB     0.287439
dtype: float64

## calculating volatility

In [31]:
returns[['WMT','FB']].std()

WMT    0.011233
FB     0.018197
dtype: float64

## annualizing volatility

In [32]:
returns[['WMT','FB']].std()*250 **0.5

WMT    0.177607
FB     0.287726
dtype: float64

In [34]:
returns

                 WMT        FB
Date
2013-12-31       NaN       NaN
2014-01-02  0.002792  0.001097
2014-01-03 -0.003300 -0.002745
2014-01-06 -0.005610  0.047253
2014-01-07  0.003064  0.012509
...              ...       ...
2017-04-03 -0.003474  0.001618
2017-04-04  0.002503 -0.003873
2017-04-05 -0.005012  0.000846
2017-04-06 -0.003075 -0.004805
2017-04-07  0.020371 -0.002766

[824 rows x 2 columns]

## calculating co variance and correlation

In [33]:
cov_matrix = returns.cov()
cov_matrix

          WMT        FB
WMT  0.000126  0.000035
FB   0.000035  0.000331

## annualizing covariance

In [35]:
cov_matrix_a = returns.cov()*250

In [36]:
cov_matrix_a

          WMT        FB
WMT  0.031544  0.008777
FB   0.008777  0.082786

## to validate the co variance value of two factors

## walmart

In [39]:
WMT_var = returns['WMT'].var()
WMT_var

0.00012617641777367758

In [40]:
##annualizing the variance

In [41]:
WMT_var = WMT_var *250

In [42]:
WMT_var

0.031544104443419395

## FB

In [43]:
FB_var = returns['FB'].var()
FB_var

0.00033114486222266367

In [44]:
##annualizing varianve

In [45]:
FB_var= FB_var*250

In [46]:
FB_var

0.08278621555566591

## now finding out the correlation

In [48]:
corr_matrix = returns.corr()
corr_matrix

          WMT        FB
WMT  1.000000  0.171746
FB   0.171746  1.000000

## hence we can see the  returns of 2 companies are weakly correlated

## please remember , the correlation of returns and prices of equaities , are not the same

# dont fall in the trap of  calculating correlation annualy , it does not contain average daily values 
## it shows us the relation that exists between the 2 variables